@font-face {
    font-family: 'Bello Script';
    src: url(fonts/bello-script.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/proxima-nova-regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header & logo */
.header {
    background-color: #4F88EF;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    margin: 28px 20px 28px 20px;
    color: white;
    font-family: 'Bello Script', Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 25px;
}

/* Menu mobile */
.menu {
    background-color: #4F88EF;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 70px;
    height: 100vh;
}

.menu > ul {
    list-style-type: none;
    color: white;
    font-family: 'Proxima Nova';
    cursor: pointer;
}

.menu > ul > li {
    margin: 32px;
}

.menu__link:link {
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    color: white;
    text-decoration: underline;
}

.menu__open {
    height: 12px;
    margin-left: auto;
    margin-right: 28px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Menu desktop */
@media screen and (min-width: 884px) {
.menu {
    display: inline;
    width: auto;
    height: auto;
    position: static;
}

.menu > ul > li {
    margin: 32px;
    text-align: center;
    display: inline;
}

.menu__open {
    display: none;
}
}

