/* Header & logo */
.navbar {
    background-color: #4F88EF;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    color: white;
    font-family: 'Bello Script', Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 25px;
    text-align: left;
}

/* Menu mobile */
.menu {
    background-color: #4F88EF;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__elements {
    background: none;
    margin-bottom: 20%;
    font-family: 'Proxima Nova';
    border: none;
    color: white;
    cursor: pointer;
}

.menu__elements:hover {
    text-decoration: underline;
}

.menu__open {
    height: 12px;
    margin-left: auto;
    margin-right: 28px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Menu desktop */
@media screen and (min-width: 884px) {
.menu {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: baseline;
}

.menu__list {
    flex-direction: row;
}

.menu__elements {
    margin-bottom: 0;
}

.menu__open {
    display: none;
}
}